body {
    color: rgb(148, 107, 31);
    font-family: cursive;
}

header {
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    color: rgb(148, 107, 31);
    font-weight: bolder;
    text-shadow: 0 0 3px peru;
}

h3 {
    color: peru;
    font-weight: bold;
    text-shadow: 0 0 2.5px black;
    padding: .5rem
}

input {
    background-color: rgba(205, 134, 63, 0.808);
    border-radius: 8px;
    box-shadow: purple;
}

.print-result {
    font-size: 10rem;
    text-align: center;
    color: peru
}

/* .btn-custom {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(223, 179, 135);
    margin: 1rem auto;
    background-color: transparent;
    color: rgb(148, 107, 31);
} */

a.btn-custom {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(148, 107, 31);
    border: 3px solid rgb(223, 179, 135);
    margin: .75rem;
}

.btn-custom:hover {
    background: wheat;
    color: peru;
}



/* loader animation */
.loader {
    display: none;
    text-align: center;
    color: peru
}
.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}
.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* hide numberic-field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}