:root {
    --bluish: rgb(53, 145, 221);
    --orangish: rgb(251, 182, 53);
    --cpu-font: 'Press Start 2P', cursive;
    --monoton: 'Monoton', cursive;

}

body {
    color: var(--orangish);
    font-family: var(--cpu-font);
    background: url(../img/san-jacinto.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    color: var(--orangish);
    font-weight: bolder;
    text-shadow: 0 0 2.5px black;
}

h5 {
    font-size: .75rem;
    color: peru;
    text-shadow: 0 0 .5rem black;
}

.container-custom {
    background: rgba(0, 0, 0, 0.39);
    border-radius: 8px;
    padding: 2rem;
    margin: 0 auto;
    max-width: 65%;
    font-size: .75rem;
}

h1 {
    font-size: 4rem;
    font-family: var(--monoton);
    text-shadow: 0 0 2rem black;
}

h3 {
    font-family: var(--monoton);
    font-size: 3rem;
    color: peru;
    text-shadow: 0 0 3px black;
    padding: .5rem
}

input, select {
    max-width: 50%;
}

.select-custom {
    font-size: .75rem;
    text-align: center;
    text-align-last: center;
}
option {
    text-align: left;
  }

.submit-custom {
    font-family: var(--monoton);
    font-size: 1rem;
    background: url(../img/san-jacinto.jpg);
    background-size: cover;
    color: black;
    box-shadow: 0 0 2px white;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

input::placeholder {
    font-size: x-small;
}

.print-result {
    font-family: var(--monoton);
    font-size: 10rem;
    text-align: center;
    color: peru;
    text-shadow: 0 0 3rem white;
}

a.btn-custom {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color:var(--orangish);
    box-shadow: 0 0 .2rem rgb(175, 222, 253);
    margin: .75rem;
}

.submit-custom:hover, .btn-custom:hover {
    background: rgba(205, 134, 63, 0.911);
    color:black;
}

/* loader animation */
.loader {
    font-family: var(--cpu-font);
    display: none;
    text-align: center;
    color: peru
}
.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}
.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* hide numeric-field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}